/* Variables - Phaedra Color Theme */
/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background: #ffff9d;
  font-family: 'Open Sans', sans-serif; }

ol, ul {
  list-style: none; }

/* Header */
header {
  height: 80px;
  /* span tag added for absolute positioning */ }
  header span {
    position: absolute;
    left: 50%;
    margin-left: -353px;
    top: 20px; }
    header span h1 {
      letter-spacing: .1em;
      text-transform: uppercase;
      font-size: 4.3em;
      color: #ff6138;
      display: inline;
      position: relative;
      opacity: .5;
      font-weight: bold; }
      header span h1:after {
        content: 'Happy B-Day Zoe!';
        color: #00a338;
        position: absolute;
        left: -3px;
        top: 6px;
        opacity: .5; }

/* Player */
#player-container {
  width: 100%;
  padding: 10px 0;
  background: #ffff9d;
  position: absolute; }
  #player-container.fixed {
    position: fixed;
    top: 0;
    z-index: 1; }
  #player-container #player {
    position: relative;
    background: darkgray;
    overflow: auto;
    width: 200px;
    border-radius: 5px;
    margin: 15px auto 15px;
    height: 47px; }
    #player-container #player .fa {
      position: absolute;
      color: #fff;
      font-size: 2em;
      top: 8px; }
      #player-container #player .fa#next {
        right: 20px; }
      #player-container #player .fa#previous {
        left: 20px; }
      #player-container #player .fa#play, #player-container #player .fa#pause {
        left: 50%;
        margin-left: -9px; }
    #player-container #player input[type=range] {
      width: 80%;
      float: right; }

/* Tracks */
#tracks-container {
  width: 90%;
  margin: 85px auto 0;
  font-size: 3em;
  max-width: 885px;
  padding: 0 0 20px 0;
  overflow: auto; }
  #tracks-container .track-container {
    float: left;
    width: 220px;
    height: 220px;
    overflow: hidden;
    position: relative; }
    #tracks-container .track-container:nth-child(3n+1) div {
      background: #79bd8f; }
    #tracks-container .track-container:nth-child(3n+2) div {
      background: #ff6138; }
    #tracks-container .track-container:nth-child(3n+3) div {
      background: #beeb9f; }
    #tracks-container .track-container .track.title {
      position: absolute;
      left: 0;
      top: 0px;
      opacity: 0;
      font-size: .8em;
      transition: opacity .5s ease-in-out;
      -moz-transition: opacity .5s ease-in-out;
      -webkit-transition: opacity .5s ease-in-out; }
      #tracks-container .track-container .track.title:hover {
        opacity: 1; }
      #tracks-container .track-container .track.title p {
        line-height: 35px;
        font-size: .8em; }
      #tracks-container .track-container .track.title span {
        font-style: italic;
        font-size: .5em;
        display: block;
        line-height: 20px;
        max-width: 170px;
        margin: 0 auto; }
  #tracks-container .track {
    position: relative;
    float: left;
    display: table;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    margin: 20px;
    cursor: hand; }
    #tracks-container .track p {
      display: table-cell;
      vertical-align: middle;
      border-radius: 50%; }

#download {
  text-align: center;
  margin: 10px 0 20px; }
  #download a {
    color: #ff6138;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em; }
    #download a:hover {
      color: #79bd8f; }
